<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
   <br>
      <form action="/dodaj/">
         <input type = "submit" value = "Dodaj studenta" /><br>
      </form><br>
      <form action = "/list/">
         <input type = "submit" value = "Pokaż listę" /><br>
      </form><br>
   <form action = "/idUsuń/">
         <input type = "submit" value = "Usuń" /><br>
      </form><br>
   <form action = "/idEdytuj/">
         <input type = "submit" value = "Edytuj" /><br>
      </form>
   </body>
</html>